/* Product */
.image-text-section {
  position: relative;
  top: 86px;
  padding: 60px 20px;
  background-color: #f5f8fc;
}

.image-text-section .container {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.image-box {
  flex: 1 1 400px;
}

.image-box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.text-box {
  flex: 1 1 400px;
}

.text-box h2 {
  font-size: 2.2rem;
  color: #1e3a8a;
  margin-bottom: 20px;
}

.text-box p {
  font-size: 1.1rem;
  color: #444;
  margin-bottom: 15px;
  line-height: 1.6;
}

.learn-more-btn {
  display: inline-block;
  margin-top: 10px;
  background-color: #f90;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
  background-color: #e57706;
}

/* More products */
.product-list-section {
  position: relative;
  top: 86px;
  padding: 20px 20px;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.product-title {
  font-weight: bold;
  padding-left: 150px;
  font-size: 30px;
  color: #1e3a8a; /* Similar to the image color */
  margin-bottom: 5px;
}

.product-list {
  list-style-type: disc;
  padding-left: 250px;
  color: #1e3a8a;
  font-size: 20px;
}

.product-list li {
  margin-bottom: 6px;
}

@media screen and (max-width: 480px) {
  
  .product-list-section .product-title{
    padding: 0px;
  }

  .product-list-section .product-list{
    padding-left: 80px;
  }

}
